In [4]:
import pandas as pd

# Load the dataset
df = pd.read_csv('data/kickstarter_projects.csv')

# Convert column names to lowercase
df.columns = df.columns.str.lower()

# Drop not needed variables 'id', 'name'
df = df.drop(columns=['id', 'name'])

#drop state Live because state is not finally determined and thus not usuable for predictions 
df = df.drop(df[df.state == 'Live'].index)

#clean entries
df = df.drop(df[df.goal == 0].index)

# Convert 'launched' and 'deadline' columns to datetime
df['launched'] = pd.to_datetime(df['launched'])
df['deadline'] = pd.to_datetime(df['deadline'])

# Calculate the duration in days
df['duration'] = (df['deadline'] - df['launched']).dt.days

# Create a new column 'launch_month' with the month extracted from the 'launched' column
df['launch_month'] = df['launched'].dt.month

#Convert state to binary to use it as target variable 
cleanup_nums = {"state":{"Failed": 0, "Canceled": 0, "Suspended" :0, "Successful" : 1}}
df["org_state"] = df["state"]
df.replace(cleanup_nums, inplace=True)
df.head()

,category,subcategory,country,launched,deadline,goal,pledged,backers,state,duration,launch_month,org_state
0,Fashion,Fashion,United States,2009-04-21 21:02:48,2009-05-31,1000,625,30,0,39,4,Failed
1,Film & Video,Shorts,United States,2009-04-23 00:07:53,2009-07-20,80000,22,3,0,87,4,Failed
2,Art,Illustration,United States,2009-04-24 21:52:03,2009-05-03,20,35,3,1,8,4,Successful
3,Technology,Software,United States,2009-04-25 17:36:21,2009-07-14,99,145,25,1,79,4,Successful
4,Fashion,Fashion,United States,2009-04-27 14:10:39,2009-05-26,1900,387,10,0,28,4,Failed

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 372051 entries, 0 to 374823
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   category      372051 non-null  object
 1   subcategory   372051 non-null  object
 2   country       372051 non-null  object
 3   launched      372051 non-null  datetime64[ns]
 4   deadline      372051 non-null  datetime64[ns]
 5   goal          372051 non-null  int64
 6   pledged       372051 non-null  int64
 7   backers       372051 non-null  int64
 8   state         372051 non-null  int64
 9   duration      372051 non-null  int64
 10  launch_month  372051 non-null  int32
 11  org_state     372051 non-null  object
dtypes: datetime64[ns](2), int32(1), int64(5), object(4)
memory usage: 35.5+ MB

In [1]:
# Save new dataset
df.to_csv('data/binary_state_kickstarter_projects.csv', index=False)

NameError: name 'df' is not defined